.btn-group
  %a.btn{href: things_path} Back
  - if can? :update, thing
    %a.btn{href: edit_thing_path(thing)} Edit
  - if can? :destroy, thing
    %a.btn{href: thing_path(thing), data: {method: :delete, confirm: 'Are you sure?' } } Destroy
