%div
  %table.table
    %tr
      %th ID
      %th Name
      %th Description


    - @things.each do |thing|
      %tr
        %td= thing.id.to_s
        %td= thing.name
        %td= thing.description
  = paginate @things
