= search_form_for(@q, :builder => SimpleForm::FormBuilder, :remote => true, :update => 'results', :url => things_path, :html => {:method => :get, :class => 'form-search', :id => 'things-search', :autocomplete => :off }) do |f|
  = f.input :name_cont, input_html: {data: {provide: 'typeahead', source: '["hello","heythere","heaven"]'}}
  = f.button :submit, "Search"
