= search_form_for(@q, :builder => SimpleForm::FormBuilder, :remote => true, :update => 'results', :url => things_path, :html => {:method => :get, :class => 'form-search', :id => 'things-search', :autocomplete => :off }) do |f|
  = f.input :name_cont, required: false, input_html: {class: 'search-query', data: {provide: 'typeahead', source: @typeahead_names}}
  = f.button :submit, "Search"
