= simple_form_for(@q, :remote => true, :update => 'results', :url => things_path, :html => {:method => :get, :class => 'form-horizontal', :id => 'things-search' }) do |f|
  = f.input :name_cont
  = f.button :submit