$("#no_results").html("<% if @q.result.count < 1 %><div class='alert'>No things found!</div><% end %>");
$("#selector_results").html("<%= escape_javascript(render 'things/selector_result') if @q.result.count >= 1 %>");
$("#paginator").html("<%= escape_javascript(paginate(@things, :remote => true).to_s) %>");
$("#selected_things").html("<%= escape_javascript(render 'things/selected_things') unless @selected_things.nil? %>");