= content_for :controller_nav do
  .navbar.navbar-static-top
    .navbar-inner
      %ul.nav
        - if current_page?(action: 'index')
          %li.active
            %a.brand{href: '#'}= controller_name.capitalize
        - else
          %li
            %a.brand{href: url_for(action: 'index')}= controller_name.capitalize
        %li.divider-vertical
        - if can? :create, @resource
          - if current_page?(action: 'new')
            %li.active
              %a{href: '#'} New
          - else
            %li
              %a{href: url_for(action: 'new')} New
          %li.divider-vertical
      = render 'search_form' if current_page?(action: 'index')