%ul.nav
  - unless devise_controller?
    - if current_page?(controller: 'home')
      %li.active
        %a.brand{href: root_path} Home
    - else
      %li
        %a.brand{href: root_path} Home
    - if current_page?(controller: 'things')
      %li.active
        %a{href: things_path} Things
    - else
      %li
        %a{href: things_path} Things
    - if current_page?(controller: 'checkouts')
      %li.active
        %a{href: checkouts_path} Checkouts
    - else
      %li
        %a{href: checkouts_path} Checkouts
  - else
    %li
      %a.brand{href: root_path} Home
    %li
      %a{href: things_path} Things


  - if user_signed_in?
    %li
      = link_to('Logout', destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to('Login', new_user_session_path)
  - if user_signed_in?
    %li
      = link_to('Edit account', edit_user_registration_path)
  - else
    %li
      = link_to('Sign up', new_user_registration_path)
